<!-- Footer Component -->
<footer id="footer" class="bg-neutral-lightgray py-2 border-t border-neutral-light_gray">
  <div class="container">
    <div class="flex flex-wrap items-center justify-between">
      <div class="w-auto">
        <div class="mx-3">
          <div class="footer-logo">
            <a href="index.html"><img src="./assets/img/MONAI-logo_color.png" alt="MONAI Logo"></a>
          </div>
        </div>
      </div>
      <div class="hidden lg:block w-auto">
        <div class="mx-3 text-black">
          <ul class="flex justify-between">
            <li class="px-4">
              <a href="about.html" class="footer-links">About Us</a>
            </li>
            <li class="px-4">
              <a href="started.html" class="footer-links">Get Started</a>
            </li>
            <li class="px-4">
              <a href="community.html" class="footer-links">Community</a>
            </li>
            <li class="px-4">
              <a href="https://medium.com/@monai" class="footer-links">Blog</a>
            </li>
            <li class="px-4">
              <a href="docs.html" class="footer-links">Docs</a>
            </li>
            <li class="px-4">
              <a href="https://github.com/Project-MONAI" class="footer-links">GitHub</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="w-auto">
        <div class="mx-3">
          <ul class="social-icons flex justify-end">
            <li class="mx-2">
              <a href="https://twitter.com/ProjectMONAI" aria-label="Twitter">
                <i><img src="./assets/img/twitter_icon_square.png" alt="Twitter Icon"/></i>
              </a>
            </li>
            <li class="mx-2">
              <a href="https://medium.com/@monai" aria-label="Medium">
                <i><img src="./assets/img/medium_icon_square.png" alt="Medium Icon"/></i>
              </a>
            </li>
            <li class="mx-2">
              <a href="https://www.youtube.com/c/Project-MONAI" aria-label="YouTube">
                <i><img src="./assets/img/youtube_icon_square.png" alt="YouTube Icon"/></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Go to Top Link -->
<a href="#" class="back-to-top w-10 h-10 fixed bottom-0 right-0 mb-5 mr-5 flex items-center justify-center rounded-full border border-solid border-brand-dark text-white text-lg z-20" aria-label="Back to top">
  <i class="transform -rotate-90">
    <img src="./assets/img/ic_arrow_right.png" alt="Arrow Up"/>
  </i>
</a> 